{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/home.css' %}">
    <title>Document</title>
</head>

<body>

</body>

</html>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" class="border p-4 rounded">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Email:</label>
                    <input type="text" name="username" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" name="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <a class="btn btn-custom" href="register">Register</a>
                <a href="senha">Forgot your password?</a>
            </form>
        </div>
    </div>
</div>

{% endblock content %}